<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180"
    href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
    href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
    href="favicon/favicon-16x16.png">
<link rel="manifest"
    href="favicon/site.webmanifest">
    <title th:text="Home"></title>
    <link rel="stylesheet" href="styles/Styles.css"  th:href="@{/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
<header>
    <div class="navigator">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">

                <button style="background-color: coral" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <button type="button" class="btn btn-danger m-1"><a style="color: black " class="nav-link active" aria-current="page" href="index.html">Главная</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button    " class="btn btn-outline-warning m-1"><a class="nav-link" href="aboutus.html">О нас</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="portfolio.html">Наше портфолио</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="photo.html">Фотографии</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="apparatura.html">Аппаратура</a></button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-warning m-1"><a class="nav-link" href="build.html">Как строилась студия</a></button>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Наши возможности
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="aboutus.html#1">Мастеринг</a></li>
                                <li><a class="dropdown-item" href="aboutus.html#2">Сведение</a></li>
                                <li><a class="dropdown-item" href="aboutus.html#3">Аранжировка</a></li>
                                <li><a class="dropdown-item" href="aboutus.html#4">Написание фонограммы и минусов</a></li>
                                <li><a class="dropdown-item" href="aboutus.html#5">Запись фокала</a></li>
                                <li><a class="dropdown-item" href="aboutus.html#6">Обработка вокала</a></li>
                                <li><a class="dropdown-item" href="aboutus.html#7">Запись музыкальных инструментов </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>


<h1 style="font-size: 90px" class="hello">Studio</h1>
<div class="image1">
    <div>

        <div class="cont2">
            <div>
                <img  src="media/Minrec.JPEG"
                     alt="картинка">
            </div>
        </div>
        <h2 style="font-size: 50px" class="hello">Добро пожаловать!</h2>
    </div>


    <div class="left">
        <Img src="https://img-fotki.yandex.ru/get/15594/200418627.64/0_11a32c_bf228501_orig.png"></Img>
        <Img src="https://www.3ezhika.ru/papagera/wp-content/uploads/барабан.png"></Img>
        <img src="https://effects1.ru/gallery/Klipart/Tekhnika-gr/Muzyka/klavishi/klavishi-8-0.png" alt="photo">
        <img src="https://lh3.googleusercontent.com/NrRTNV93nG4DsZ1IflBotgmSfMJUno0vXu5P45ww23sOCyYrp1uSve4kuC5v6tzBixo"
             alt="image">
        <img src="https://phonoteka.org/uploads/posts/2022-01/thumbs/1643580803_88-phonoteka-org-p-muzikalnie-instrumenti-fon-98.png"
             alt="page">
        <img src="https://i.pinimg.com/originals/ec/a2/d3/eca2d31b4eb9c3e921abba098b69368f.png" alt="картинка">
    </div>
</div>

<footer>

    <div class="foot">
        <div class="all">
            <p>©2023 Все права защищены</p>
        </div>

        <div class="allinfo">
            <p>©Создатели сайта:</p>
            <p>Якименко Роман Эдуардович</p>
            <p>Якименко Вероника Владимировна</p>
            <p>email: romanze1706@gmail.com</p>

        </div>
    </div>t
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>